@model ExampleModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-controller="Home" asp-action="ExamplePost" method="post">
    <p>Simple form for IMPLICIT model binding</p>
    Int: <input type="number" asp-for="ExampleInt" />
    String: <input type="text" asp-for="ExampleString" />
    DateTime: <input type="datetime-local" asp-for="ExampleDate" />

    <button  type="submit">Send</button>
</form>


_________


<form asp-controller="Home" asp-action="Test" method="post">
    <p>Simple form for EXPLICIT model binding</p>
    Int: <input type="number" asp-for="ExampleInt" />
    String: <input type="text" asp-for="ExampleString" />
    DateTime: <input type="datetime-local" asp-for="ExampleDate" />

    <button type="submit">Send</button>
</form>


