
    <div class="row">

        <div class="col-6">

            <button class="btn btn-info">Click me</button>
        </div>

        <div class="col-6">

            <button class="btn btn-danger">Click me</button>
        </div>
    </div>